{%- assign product_form_id = "product-form-template--" | append: block.settings.section_id | append: "__main" -%}

<div>
  <label for="ref_image_upload">Reference Photo</label>
  <input id="ref_image_upload" type="file" form="{{ product_form_id }}" name="properties[Reference Photo]"/>
</div>



{% schema %}
  {
    "name": "Reference photo",
    "templates": ["product"],
    "target": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section ID"
      },
      {
        "type": "text",
        "id": "section_id",
        "label": "section=template--[14-digit section ID]"
      },
      {
        "type": "paragraph",
        "content": "Display a button for the customer to optionally upload a reference photo"
      }
    ]
  }
{% endschema %}